body {
    margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.bg-light {
    background-color: mintcream;
    color: black;
}

.bg-dark {
    background-color: lightgrey;
    color: white;
}

.padding {
    padding-top: 50px;
}

p {
    text-align: justify;
}