.index-bg {
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
    background-size: cover;
    height: 600px;
}

.text-white {
    color: rgba(176, 230, 248, 1);
}

.text_centered {
    text-align: center;
}

.padding-top {
    padding-top: 100px;
}