
body{
 background-image:url('https://cdn.ultraplay.com/uploads/products/Early_Childhood_0291-0316.jpg');
 background-size: cover;

}

.error {
    color: red;
}
div{
 display: inline-block;  
 text-align: center;
 
}
.input-text{

}
.submit{
    background-color: yellow;
    
}
table,
th,
td{
    border:1px solid black;
    border-collapse:collapse;
}